~$*

.idea/
*.iml
.gradle
.kotlin
.DS_Store

build
*/build

build-win
*/build-win

build-linux
*/build-linux

*/logs

captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*.gpg
*yarn.lock
saves/

*.xlsx#
tools/ContentServer

fakeSteamLibsUser1/
fakeSteamLibsUser2/
